*
{font-family: Helvetica, sans-serif;}
.flatiron
{
  text-align: center;
  background-image: url(../images/the-flatiron-building.png);
  color:white;
}
#process, #work, #team, #contact
{
  text-align: center
}
.sections, .btn-nav
{
  color:white;
  font-size: 18px;
}
.footer
{
  color: white;
  font-size: 11px;
  text-align: left;
  background-color: dimgray;
}
